.activity-list{
    padding-bottom: 54px;
}

.section-title{
    color: $title-text-color;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.80px;
    text-align: center;
    margin-bottom: 50px;
}

.activity-list{
    text-align: center;
}