.page-footer{
    padding-top: 60px;
    background-color: var(--secondary-background-color);
    white-space: 80px;
    padding-bottom: 60px;
}

.footer-logo{
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    text-decoration: none;
    color: var(--backgroun-team-color);
}

.footer-content{
    padding: 9px;
}

.footer-added{
    margin-top: 20px;
}