.header{
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid var(--primary-text-color);
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-lead{
    position: relative;
}

.icon-post{
       margin-right: 430px;
       width: 15px;
       height: 15px;    
       animation-name: Header;
}

.icon-post:hover{
    fill: #2196F3;

}

.icon-phone{
    padding-right: 40px;
    width: 150px;
    height: 15px;
    animation-name: Header;
}

.site-number{
    animation-name: Header;
}

.site-lead:hover{
    fill: #2196F3;
}

.site-lead:hover .icon-post{
    fill: #2196F3;
    transition: color 250ms var(--time-function);
}

.header-list-item .header-number{
    transition: fill 250ms var(--time-function);
}

.header-list-item .site-number{
    transition: color 250ms var(--time-function);
}

.site-number:hover .icon-phone{
    fill: #2196F3;
    transition: color 250ms var(--time-function);

}

@keyframes{
    0%{

    }

    100%{
        fill: #2196F3;
        transition: color 250ms var(--time-function);
    }
}

.header-list-item:not(:last-child){
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus{
    color: var(--background-button-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.activity-list{
    margin-bottom: 86px;
}

team

img{
    display: block;
}


body{
    padding: 0;
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
   }

   span{
    color: #2196F3;
   }
   .logo{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0,78px;
    text-decoration: none;

   }

   .blue{
    color: var(--background-button-color);
   }

.site{
    color: var(--title-text-color);
}

.site-nav{

}

.site-list{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    display: flex;
    margin-left: 93px;
    
}

.site-list:hover{
    color: var(--background-button-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-link{
    text-decoration: none;
    color: var(--title-text-color);
    position: relative;
}

.site-link:hover,
.site-link:focus{
    color: var(--background-button-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}