.clients-list{
    display: flex;
    margin-left: -30px;
    margin-bottom: 94px;
    transition: background-color 250ms var(--time-function), fill 250ms var(--time-function);
}

.clients-item{
    margin-left: 30px;
}

.clients-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1BB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;    
    animation-name: Clientsname;
}

.clients-icon{
    
    width: 106px;
    height: 60px;
    fill: #AFB1BB;
    animation-name: Clientsname;
}

.clients-icon:hover{
   fill: #2196F3;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-link:hover, 
.clients-link:focus{
    fill: #2196F3;
    border-color: #2196F3;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

@keyframes Clientsname{
    0%{
        fill: #2196F3;
        border-color: #2196F3;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-name: Clientsname;
    }

    100%{
        fill: #2196F3;
        border-color: #2196F3;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        animation-name: Clientsname;
    }
    
}


.pscl{
    margin-top: 94px;
    margin-bottom: 50px;
    color: #212121;
text-align: center;
font-family: 'Roboto';
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}


.pry{
    color: #FFF;
font-family: 'Roboto';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-top: -150px;
margin-left: -250px;
}

.div-svg{
    display: flex;
    justify-content: center;   
}